.cabecalho {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--cor-borda);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  flex-shrink: 0;
}

.espacador {
  width: 1px;
  height: 1px;
}
